/* 
font-family: 'Open Sans', sans-serif; 
*/

body {
   font-family: 'Open Sans', sans-serif;  
   font-size: 16px;
   line-height: 22px;
}

header{
    background-color: #2e64a1;
    padding: 16px 0;
}

header h1{
    color: white;
    font-size: 2.5em;
    font-weight: 100;/*esto sirve para ...*/
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    /* text-shadow: 0 0 5px black ; */
 }

 nav {
     background-color: #6da9ed;
     margin-bottom: 25px;
 }

 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
     
     }

nav ul li{
     width: 16%;
     display: inline-block;
     /* background-color: red; */
   
      
}     

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:5px 0;
     
}    

nav ul li a:hover{
    background-color:#4c76a5;
}

nav ul li a.activo{
     background-color:#4c76a5;
}

footer{
    background-color: #ccc;
    padding: 25px 0;
    text-align: center;
    clear: both;/*elemento que va de punta a punta*/
}

.holder{
    max-width: 960px;
    margin: 0 auto;
    /* background-color: red; */
}

h2{
    color: #2e64a1;
    font-weight: 400;
}
/*inicio home*/

.bienvenidos{
    width: 75%;
    /* background-color: yellow; */
    float: left;
    padding-right: 8px;
    box-sizing: border-box;
}

.testimonios{
    width: 25%;
    /* background-color: orange; */
    float: right;
}

.bienvenidos p{
    font-size: 22px;
    line-height: 27px;
}

.testimonio {
    background-color: rgb(223, 223, 223);
    padding: 12px;
}

.testimonio .cita{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    /* background-color: red; */
    display: block;
}

.testimonio .autor{
    font-size: 11px;
    text-align: center;
    /* background-color: orange; */
    display: block;
}

/*fin home*/

/*inicio nosotros*/
.historia p{
    font-size: 13px;
}



.persona{
    width: 18%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    /* display: inline-block; */
    float: left;
    margin-bottom: 20px;
    margin-left: 2.5%;
}

.persona img{
    max-width: 70%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(87, 86, 86);
    margin-bottom: 10px;
  }

.persona h5,
.persona h6{
    margin: 0;
    color: #2e64a1;
    font-weight: normal;
}

.persona h6{
    font-style: italic;
    font-weight: 700;
}

.persona p{
    font-size: 12px;
}


/*aca coloco la clase sinmargen solo a la primera persona*/
/* .sinmargen{
    margin-left: 0;
} */

/*pseudoclase 
first-child
last-child > margin-right
*/
.persona:first-child{
    margin-left: 0;
}


/*fin nosotros*/

/*inicio servicios*/

.servicio{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
    /* background-color: red; */
    /* height: 50px; */
    
}

.servicio img{
    border-radius: 8px;
}

.servicio .info{
    max-width: 75%;
}

.servicio .info h4{
    color: #2e64a1;  
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    border-bottom:1px solid #2e64a1;
    padding-bottom: 10px;
    margin: 10px 0;
}

.servicio .info p{
    font-size: 13px;
    /* line-height: 20px; */
}

/*lo nuevo*/
.servicio:nth-child(odd) img { /*odd > impar*/
    float: left;
    margin: 0 16px 0 0;
}

.servicio:nth-child(odd) .info { /*odd > impar*/
    float: right;
     
}

/* .servicio:nth-child(odd) .info h4 { 
   text-align: right;
} */


.servicio:nth-child(even) img { /*even > par*/
    float: right;
    margin: 0 0 0 16px;
}

.servicio:nth-child(even) .info { /*even > par*/
    float: left;
}
/*fin de servicios*/

/*inicio galeria*/
.galeria{
  display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: space-between;
}

.galeria .foto{
    border: 1px solid #ccc;
    padding: 5px;
    width: 18%;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

.galeria .foto img{
    width: 100%;
    display: block;
}



/*fin galeria*/



